.section {
  background-color: #fff;
  margin-top: 100px;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.section h3 {
  font-size: 36px;
  font-weight: 600;
  color: #000;
}

.section span {
  color: #72bc00;
  font-weight: 800;
}
.containerMobile {
  display: none;
}

.container {
  padding: 40px 0px;
}
