.section {
  background: linear-gradient(
    1deg,
    rgba(0, 114, 188, 0.1) 0.89%,
    rgba(0, 114, 188, 0) 99.19%
  );
  padding: 80px 0px 0px;
}

.container {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 6% 94%;
}

.section h2 {
  color: #a4a4a4;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 153%; /* 107.1px */
  width: 800px;
}

.twoContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.iconContent {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 120px;
}

.parentBox {
  display: flex;
  align-items: center;
  gap: 30px;
}

.textBox h3 {
  color: #f99600;
  font-size: 38px;
  font-weight: 700;
}

.textBox p {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 500;
}
