:root {
  --primary-color: #0072bc; /* Adjust the color value as needed */
  --secondary-color: #ffc436; /* Adjust the color value as needed */
  --tertiary-color: #04c988; /* Adjust the color value as needed */
  --quaternary-color: #f98e00; /* Adjust the color value as needed */
  --quinary-color: #0c356a; /* Adjust the color value as needed */
  --senary-color: #eff3f6; /* Adjust the color value as needed */
  --septenary-color: #252525; /* Adjust the color value as needed */

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 36px;
  color: var(--senary-color);
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 153%; /* 84.15px */
}

h2 {
  font-size: 30px;  
}

h3 {
  font-size: 24px;  
}

h4 {
  font-size: 20px;  
}

h5 {
  font-size: 18px;  
}

h6 {
  font-size: 16px; /* Adjust font size for h6 */
}


