/* Add this import statement at the beginning of your globals.css file */
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap"); */

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
:root {
  /* Define your color variables */
  --primary-color: #0072bc;
  --secondary-color: #ffc436;
  --tertiary-color: #04c988;
  --quaternary-color: #f98e00;
  --quinary-color: #0c356a;
  --senary-color: #eff3f6;
  --septenary-color: #252525;

  /* Define font sizes for desktop */
  --desktop_h1-font-size: 48px;
  --desktop_h2-font-size: 30px;
  --desktop_h3-font-size: 26px;
  --desktop_h4-font-size: 22px;
  --desktop_h5-font-size: 20px;
  --desktop_p-font-size: 16px;

  /* Define font colour for desktop */
  --desktop_h1-font-colour: #fff;
  --desktop_h2-font-colour: #a4a4a4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  /* Use variable for color */
  color: var(--senary-color);
  /* Use variable for font size */
  font-size: var(--desktop_h1-font-size);
  font-style: normal;
  font-weight: 800;
  line-height: 153%;
  margin: 0;
}

h2 {
  /* Use variable for font size */
  font-size: var(--desktop_h2-font-size);
  font-style: normal;
  margin: 0;
}

h3 {
  /* Use variable for font size */
  font-size: var(--desktop_h3-font-size);
  font-style: normal;
  margin: 0;
}

.swiper {
  width: 100%;
}

.flexBox {
  display: flex;
}

.flexJustSpaceBetween {
  justify-content: space-between;
}

.flexAlignCenter {
  align-items: center;
}

.popupModal {
  display: grid;
  grid-template-columns: 49% 49%;
  background-color: white;
}

.whiteP {
  background-color: transparent;
  height: 600px;
  width: 600px;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  h5 {
    /* Use variable for font size */
    font-size: var(--desktop_h5-font-size);
    margin: 0;
  }

  h6 {
    font-size: 16px; /* Adjust font size for h6 */
    margin: 0;
  }
  a {
    color: var(--senary-color);
    list-style: none;
    text-decoration: none;
  }

h6 {
  font-size: 16px; /* Adjust font size for h6 */
  margin: 0;
}
a  {
  color:  var(--senary-color);
  list-style: none;
  text-decoration: none;
}
}

.greenButton {
  background-color: #72BC00;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 800;
}
.greenButton:hover{
  /* background-color: #000; */
  border: 1px solid #fff;
}

.OrangeButton {
  border-radius: 8px;
background: #F99600;
color: #fff;
font-size: 18px;
padding: 10px 25px;
border: 1px solid #000;
cursor: pointer;
}

.blackButton {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  padding: 12px 20px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 800;
  border: 1px solid #fff;
}

.blackButton:hover {
  background-color: #72BC00;
  border: none;
}
.button {
  padding: 12px 30px;
  outline: none;
  background-color: #0072bc;
  color: white;
  border: 0;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid #0072bc;
}
.button:hover {
  border: 1px solid #0072bc;
  background-color: white;
  color: #0072bc;
}
.outLineBtn,
.ButtonWhiteBg,
.outLineBtn1 {
  padding: 12px 20px;
  border: 1px solid #0072bc;
  color: #fff;
  background-color: #0072bc;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 800;
}
.outLineBtn:hover,
.ButtonWhiteBg:hover {
  background-color: #0072bc;
  color: white;
}

.ButtonWhiteBg {
  color: #0072bc;
  background-color: #fff;
  font-weight: 400;
}
.nobannerButton,
.whiteBgButton {
  padding: 14px 85px;
  border: 1px solid #0072bc;
  color: #0072bc;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
}
.nobannerButton:hover,
.whiteBgButton:hover {
  background-color: #0072bc;
  color: white;
}

.whiteBgButton {
  background-color: #fff;
  color: #0072bc;
}

.bannerButton {
  padding: 14px 65px;
  outline: none;
  background-color: #0072bc;
  color: white;
  border: 0;
  cursor: pointer;
  display: flex;
  gap: 5px;
  outline: none;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid #0072bc;
}
.bannerButton:hover {
  border: 1px solid #0072bc;
  background-color: white;
  color: #0072bc;
}
@media (max-width: 1281px) {
  .button,
  .outLineBtn {
    padding: 10px 20px;
  }
}
@media (max-width: 1281px) {
  .outLineBtn {
    position: relative;
    top: 0px;
    flex-flow: row-reverse;
  }
}

@media (max-width: 481px) {
  .bannerButton {
    padding: 14px 50px;
  }
  .nobannerButton {
    padding: 14px 50px;
  }
  .whiteBgButton {
    padding: 14px 73px;
  }
}
